<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
        <link rel="stylesheet" href="/style/home.css">
    </head>

    <body>
        <a href="/">Home</a>
        <div id="productList">
            <% productList.forEach(product => { %>
                <div class="product" onclick="location.href = '/productDetails/<%= product.id %>'">
                    <img src="<%= product.image %>">
                    <h1><%= product.name %></h1>
                    <p><%= product.category %></p>
                    <p><%= product.price %>,00</p>
                    <p><%= product.description %></p>
                </div>
            <% }) %>
            <div id="addProduct" style="display: flex; justify-content: center; align-items: center;" onclick="newProductForm.style.display = 'flex'">
                <h1>+</h1>
            </div>
        </div>

        <form id="newProductForm" action="/addProduct" method="post">
            <h3 onclick="newProductForm.style.display = 'none'">X</h3>
            <input type="text" name="name" placeholder="name">
            <input type="text" name="category" placeholder="category">
            <input type="number" name="price" placeholder="price">
            <input type="text" name="image" placeholder="image">
            <textarea type="text" name="description" placeholder="description"></textarea>
            <button type="submit">Add</button>
        </form>
    </body>
</html>